html,
body {
  height: 100%;
  width: 100%;
  background-color: grey;
}
:root {
  --yellow: #ffcc0d;
  --black: #000;
  --white: #fff;
  --light-bg: #eee;
  --border-bold: 0.5rem solid var(--black);
  --border-light: 0.2rem solid var(--black);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
}

img {
  width: 70%;
  height: 50%;
  padding-bottom: 5rem;
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.heading {
  margin-bottom: 3rem;
  text-align: center;
}

.heading span {
  text-transform: uppercase;
  font-size: 3.5rem;
  border-bottom: var(--border-bold);
}

.header {
  top: 0;
  position: fixed;
  width: 35rem;
  padding: 15px 15px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
}

.header .navbar a {
  margin: 0.5rem;
}

.navbar a:hover {
  background-color: var(--yellow);
}
/* HOME */

.home {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home .content h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.home .content span {
  display: inline-block;
  background-color: var(--yellow);
  padding: 1rem 2rem;
  font-size: 2.5rem;
  margin: 3rem 0;
}

.home .content p {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
}

footer h4 {
  padding-bottom: 13px;
  text-align: center;
}
